<meta charset="UTF-8">
<title>Test Project</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

<nav>
     <div class="logo">
        CC Extract
     </div>
     <input type="checkbox" id="click">
     <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
     </label>
     <ul>
        <!-- <li><a class="active" href="/register">Home</a></li> -->
        <li><a href="fileupload/">Upload</a></li>
        <li><a href="chart">Bar Chart</a></li>
        <li><a href="piechart/">Pie Chart</a></li>
     </ul>
</nav>


<router-outlet></router-outlet>

