<meta charset="UTF-8">
<title>Test Project</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<nav>
     <div class="logo">
        Bank Project
     </div>
     <input type="checkbox" id="click">
     <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
     </label>
     <ul>
        <li><a class="active" href="/register">Home</a></li>
        <li><a href="fileupload/">Upload</a></li>
        <li><a href="chart">Chart</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
     </ul>
</nav>
<router-outlet></router-outlet>

